html{
  background-color:#a193c1;
  font-family : "Source Sans Pro";
}

.container {
  width: 85%;
  margin: 20px auto;
}

.container_small {
  width: 60%;
  height: 400px;
  margin: 20px auto;
}

@media only screen and (min-width: 1000px) {
  .container{
    width: 800px;
    margin: 20px 75px;
  } 
  
  .container_small {
    width: 60%;
    height: 400px;
    margin: 20px auto;
  }
}


/**************/
/*  nav   
/**************/
nav{background-color: #725da2; /* #660033;*/}

nav ul{
  display: table;
  font-size: 1.1em;
  margin: 15px auto;
  list-style-type: none;
  border-radius: 10px;
  padding:2px;
}

nav ul li{display: table-cell;}

nav ul li a{
  display:block;	
  text-decoration: none;	
  color: #a193c1;
  text-align: center;
  padding: 2px 20px;
  margin: 0px 15px;
}
	
nav a:hover, nav a:focus{color: #f1eff6;}
/*.actif{color: white;}*/


/**************/
/*  /index   
/**************/

.index { 
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}


/**************/
/*  /slider   
/**************/

.frame {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90%;
  width:100%;
  white-space:nowrap;
  display:inline-block;
  padding: 0 0 20px 0;    
}

.slider{
  cursor: -webkit-grab;
  display:inline-block;
  vertical-align:top;
  text-align:center;
}

.slider img{
  display: inline-block;
  margin: .15em;
  height:35em;
  border: solid 1px #c0c6c3;
  border-radius: 5px ;
}

.slider div{
  display:table-cell;
  padding:0px 15px;
}

.slider p{
  display:table-cell;
  font-size:1.4em;
  text-align:center;
  padding:0px 35px;
}

/**************/
/*  /graphiques   
/**************/

canvas {
  max-width: 98%;
  margin-left: initial;
  margin-right: initial;
  margin: .6em auto;
  max-height: 380px;
}
