html{
  background-color:rgb(161,147,193);
  font-family : "Source Sans Pro";
}

/**************/
/*  /index   
/**************/

.index { 
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1em;
}


a {
  text-decoration: none;
}

.btn {
  position: absolute;
  left: 40%;
  display: inline-block;
  margin: 0;
  padding: 1.4em 2em;
  border-radius: 50em;
  background-color: #E8CC06;
  box-shadow: 0 1px 20px rgba(238, 187, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.cd-btn:hover {
  box-shadow: 0 1px 30px rgba(238, 187, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4);
}



/**************/
/*  /slider   
/**************/

.frame {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90%;
  width:100%;
  white-space:nowrap;
  display:inline-block;
  margin-top: 20px;
  padding: 0 0 30px 0;    
}

.slider{
  cursor: -webkit-grab;
  display:inline-block;
  vertical-align:top;
  text-align:center;
}

.slider img{
  display: inline-block;
  margin: .15em;
  height:35em;
  border: solid 1px #c0c6c3;
  border-radius: 5px ;
}

.slider div{
  display:table-cell;
  padding:0px 15px;
}

.slider p{
  display:table-cell;
  font-size:1.4em;
  text-align:center;
  padding:0px 35px;
}

canvas {
  max-width: 100%;
  margin-left: initial;
  margin-right: initial;
  margin: 1em auto;
  width: 100%; 
  max-height: 400px;
}
