h1 Graphiques

p Mon problème : lors du passage en JS
em #{mes_x}
p est tranformé en
em #{mes_x.to_s.gsub( '"', "&quot;") }
/ em #{mes_x.to_s.gsub( '"', 34.chr) }

/ var arry = "#{mes_x.to_s}";
/ var myArray = string(arry.replace('"', "\""));
/    labels : [#{mes_x.map { |i| 34.chr(Encoding::UTF_8) + i.to_s + 34.chr(Encoding::UTF_8) }.join(",") }]

<canvas id="myChart_dist"></canvas>

javascript:
  var ctx = document.getElementById("myChart_dist").getContext("2d");
  var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels : labels : [#{mes_x.map { |i| 34.chr(Encoding::UTF_8) + i.to_s + 34.chr(Encoding::UTF_8) }.join(",") }]
    , 
    datasets: [{
      label: 'Distance',
      data: #{mes_y},
        backgroundColor: 'rgba(151,187,205,.4)',
        borderColor: 'rgba(151,187,205,1)',
        borderWidth: 2,
        pointStrokeColor : '#fff',
      }]
    },
    options: {
      hover: {
        mode: 'dataset'
      },
      scales: {
        yAxes: [{
          ticks: {
            stepSize: 1,
            beginAtZero: true
          }
        }],
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day',
            min: "#{mes_x.first}", 
            max: "#{mes_x.last}",
          }
        }]
      }
    }
  });

/ , 
