div.containersmall
  h1 Distance hebdo sur la dernière année

  canvas#myChart_dist

javascript:

  var ctx = document.getElementById("myChart_dist").getContext("2d");
  var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: #{mes_x.last(53)},
    datasets: [{
      label: 'Distance',
      data: #{mes_y.last(53)},
        backgroundColor: '#046380',
        pointStrokeColor : '#fff',
      }]
    },
    options: { #{{ my_chart_css }} }
  });
